.bottom-main-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border: 1px solid red; */
    width: 100%;
    height: 40%;
    gap: 10px;
    /* padding: 10px; */
    /* padding-left: 5px; */
}

*{
    box-sizing: border-box;
}
.balance-text{
    color: grey;
}
.withdraw-title{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.choose{
    font-size: 12px;
}
.balance-desk{
    /* border: 1px solid red; */
    /* padding: 2px 20px ; */
    gap: 10px;
}
.btn{
    border: 1px solid grey;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 120px;
   
}
.top-wrap-button{
    display: flex;
   gap: 10px;

}
.wrap-button{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.adding-container{
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
}
.add-text{
    color: #ffffff;
}