.main-container{
    background-color: rgb(51, 47, 97);
    border-radius: 12px;
    height:80vh;
    width: 80vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    min-height: 80%;
    min-width: 50%;
    /* border: 1px solid red; */
    box-shadow: 1px 2px 5px 2px ;
    border-radius: 10px;
    padding: 20px;

}